#Tilde files
*~

#created by mergetool
*.orig

#vim swap file
*.swp

#don't put migrations in repo
farmers/migrations/*

#settings file
harvestapi/settings.py

#local settings file
harvestapi/local_settings.py

#virtual environment
venv

*.pyc
staticfiles

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


#pyCharm
.idea

#notes
notes.txt

#data
farmers/fixtures/initial_data.json
farmers.json
farmers_131205.data
dumpddata-desktop.json
farmers_131208.data
farmers_131208.json
agriapi/settings.py