altgraph==0.12
argparse==1.3.0
bdist-mpkg==0.5.0
bonjour-py==0.3
dj-database-url==0.3.0
dj-static==0.0.6
django-easysettings==1.0.1
django-filter==0.9.1
django-password-policies==0.3
django-registration==1.0
django-rest-swagger==0.2.8
django-toolbelt==0.0.1
django-widget-tweaks==1.3
Django==1.6.10
djangorestframework==3.0.3
factory-boy==2.4.1
gunicorn==19.1.1
macholib==1.7
matplotlib==1.4.2
mock==1.0.1
modulegraph==0.12
nose==1.3.4
numpy==1.9.1
pip-tools==0.3.5
psycopg2==2.5.4
py2app==0.9
Pygments==2.0.2
pyobjc-core==3.0.4
pyobjc-framework-Accounts==3.0.4
pyobjc-framework-AddressBook==3.0.4
pyobjc-framework-AppleScriptKit==3.0.4
pyobjc-framework-AppleScriptObjC==3.0.4
pyobjc-framework-Automator==3.0.4
pyobjc-framework-CFNetwork==3.0.4
pyobjc-framework-Cocoa==3.0.4
pyobjc-framework-Collaboration==3.0.4
pyobjc-framework-CoreData==3.0.4
pyobjc-framework-CoreLocation==3.0.4
pyobjc-framework-CoreText==3.0.4
pyobjc-framework-DictionaryServices==3.0.4
pyobjc-framework-EventKit==3.0.4
pyobjc-framework-ExceptionHandling==3.0.4
pyobjc-framework-FSEvents==3.0.4
pyobjc-framework-InputMethodKit==3.0.4
pyobjc-framework-InstallerPlugins==3.0.4
pyobjc-framework-InstantMessage==3.0.4
pyobjc-framework-LatentSemanticMapping==3.0.4
pyobjc-framework-LaunchServices==3.0.4
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==3.0.4
pyobjc-framework-PreferencePanes==3.0.4
pyobjc-framework-PubSub==3.0.4
pyobjc-framework-QTKit==3.0.4
pyobjc-framework-Quartz==3.0.4
pyobjc-framework-ScreenSaver==3.0.4
pyobjc-framework-ScriptingBridge==3.0.4
pyobjc-framework-SearchKit==3.0.4
pyobjc-framework-ServiceManagement==3.0.4
pyobjc-framework-Social==3.0.4
pyobjc-framework-SyncServices==3.0.4
pyobjc-framework-SystemConfiguration==3.0.4
pyobjc-framework-WebKit==3.0.4
pyOpenSSL==0.14
pyparsing==2.0.3
pystache==0.5.4
python-dateutil==2.4.0
pytz==2014.10
PyYAML==3.11
scipy==0.15.1
six==1.9.0
South==1.0.2
static3==0.5.1
static==1.1.1
Twisted==14.0.2
Unipath==1.0
whitenoise==1.0.6
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.2
