{% extends "registration/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
	{% csrf_token %}
	<div class="row">
		
		<div class="form-group"> 
			
			{% if form.new_password1.errors %}
				<p class="errors"> {{ form.new_password1.errors.as_text }} </p>
			{% endif %}
			{% render_field form.new_password1 class+="form-control" placeholder="New Password *"  %}
			<br/>
			
			{% if form.new_password2.errors %}
				<p class="errors"> {{ form.new_password2.errors.as_text }} </p>
			{% endif %}

			{% render_field form.new_password2 class+="form-control" placeholder="Repeat New Password *"  %}
			
		</div>
		
		<div class="clearfix"></div>
		
		<div class="col-md-6 text-center">
			<div id="success"></div>
			<button input type="submit" class="btn btn-xl submit" value="{% trans 'Change my password' %}" > Change Password </button>
		</div>
		
	</div>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
