{% extends "registration/base.html" %}
{% load widget_tweaks %}

{% block title %}Sign up{% endblock %}

{% block content %}

{% if form.errors %}
	<script type="text/javascript" >
		goto_anchor("#signup");
	</script>
	<p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
{% endif %}

<p class="text-muted1">  Create an account </p>

<form method="post" action="" class="wide">
	{% csrf_token %}
	<div class="row">

		<div class="col-md-6">
				
			<div class="form-group">    				
   			
                 	
      		{% if form.username.errors %}
        			<p class="errors">{{ form.username.errors.as_text }}</p>
      		{% endif %}
				{% render_field form.username class+="form-control" placeholder="Username *"  %}
				<br />

      		{% if form.email.errors %}
        			<p class="errors">{{ form.email.errors.as_text }}</p>
      		{% endif %}
				{% render_field form.email class+="form-control" placeholder="Email Address *"  %}
    			<br />
      	

      		{% if form.password.errors %}
        			<p class="errors">{{ form.password.errors.as_text }}</p>
      		{% endif %}
				{% render_field form.password1 class+="form-control" placeholder="Password *"  %}
    			<br />


      		{% if form.password2.errors %}
        			<p class="errors">{{ form.password2.errors.as_text }}</p>
      		{% endif %}
				{% render_field form.password2 class+="form-control" placeholder="Repeat Password *"  %}
      			
    		</div>
    			
		</div>

   	<div class="clearfix"></div>
			
		<div class="col-md-6 text-center">
   		<div id="success"></div>
			<button type="submit" class="btn btn-xl submit" value="Register &rarr"> Register </button>
			<!-- <p class="submit"><input type="submit" value="Register &rarr;"></p> -->
   	</div>
	</div>
</form>

{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
